---
layout: main
---
<div class="page frontpage">
  <div class="hero pt-5">
    <div class="mt-5 container-fluid">
      <h1 class="pt-md-5 text-center">Otevřená data Ministerstva financí</h1>

      <div class="row mt-3 mb-5 py-3 pb-md-5">
        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
          {% include search.html %}
        </div>
      </div>

      <div class="container mt-5 pt-4 pb-4 categories">
        <div class="row">
          {% for category in site.categories %}
          <div class="col category text-center">
            <a class="py-2 my-2 my-md-0" href="#dataflix-categories-{{category.slug}}">
              {{category.title}}
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {% include frontpage/ribbon.html %}

  {% include frontpage/dataflix.html %}

  {% include frontpage/news.html %}

  {% include footer.html %}
</div>