---
layout: main
---
<div class="frontpage">
  <div class="hero py-5">
    <div class="mt-5 container-fluid">
      <h1 class="pt-md-5 text-center">{{ site.title }}</h1>

      <div class="row mt-3 py-3 pb-md-5">
        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
          <div class="mx-3 mt-4">
            {% include search.html %}
          </div>
        </div>
      </div>

    </div>
  </div>

  {% include frontpage/ribbon.html %}

  <div class="container-fluid pt-5 px-4 px-md-5">
    {% include frontpage/categories.html %}
  </div>

  <hr>

  <div class="container-fluid py-5 px-4 px-md-5">
    <div class="row">
      <div class="col-xl-6">
        {% include frontpage/stories.html %}
      </div>

      <div class="col-lg-6 col-xl-3">
        <div class="social h-100"></div>
      </div>

      <div class="col-lg-6 col-xl-3">
        {% include frontpage/news.html %}
      </div>
    </div>
  </div>

</div>