---
layout: main

redirect_from:
  - /index2
  - /topics
---

<div class="frontpage">
  <div class="hero py-5">
    <div class="container-fluid">

      <h1 class="my-md-3 text-center">Otevřená data Ministerstva financí</h1>

      <div class="mb-3 mt-5">
        <div class="ribbon" id="stats">
          <div class="container">
            <div class="row py-3 stats">
              <div class="col">
                <div class="number">6</div>
                organizací
              </div>
              <div class="col">
                <div class="number" id="stats-sources">?</div>
                datových souborů
              </div>
              <div class="col">
                <div class="number" id="stats-size">?</div>
                GB dat
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>



  <div class="container py-5 mb-5">
    <div class="row hot mb-5">
      <!-- <div class="col-lg mb-3 mb-lg-0">
        <a href="/topics/koronavirus.html" class="text-center button">
          <h3>Koronavirus</h3>
        </a>
      </div> -->
      <div class="col-lg mb-3 mb-lg-0">
        <a href="/topics/ares.html" class="text-center btn btn-primary w-100">
          <h3>ARES</h3>
        </a>
      </div>
      <div class="col-lg mb-3 mb-lg-0">
        <a href="/topics/monitor.html" class="text-center btn btn-primary w-100">
          <h3>MONITOR</h3>
        </a>
      </div>
      <div class="col-lg mb-3 mb-lg-0">
        <a href="/topics/dotace.html" class="text-center btn btn-primary w-100">
          <h3>CEDR</h3>
        </a>
      </div>
      <div class="col-lg mb-3 mb-lg-0">
        <a href="/topics/hospodareni-mf.html" class="text-center btn btn-primary w-100">
          <h3>Faktury a smlouvy</h3>
        </a>
      </div>
    </div>
    <div class="row">

      <div class="col-md-6 col-lg-8">
        <h2 class="mb-3">Návody a analýzy</h2>
        {% include frontpage/stories.html %}

        <h2 class="mt-5 mb-3">Témata</h2>
        {% include frontpage/topics.html %}
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="news h-100 px-3">
          {% include frontpage/news.html %}
        </div>
      </div>

    </div>
  </div>

</div>

<script type="text/javascript">

  $.get("https://opendata.mfcr.cz/lod/stats").then(function (data) {

    $("#stats-publishers").text(data.publishers.toLocaleString("cs"));
    $("#stats-sources").text(data.distributions.toLocaleString("cs"));

    const bytes = (Math.round(data.bytes / Math.pow(10, 7)) / 100);
    $("#stats-size").text(bytes.toLocaleString("cs", { minimumFractionDigits: 2, maximumFractionDigits: 2 }));

    const date = new Date(data.timestamp);
    $("#stats").attr("title", "Naposledy aktualizováno " + (date.valueOf() ? date.toLocaleString() : data.timestamp));
  });

</script>