---
title: Články a vizualizace
layout: main
---
{% include hero.html title=page.title %}

<div class="container">
  <div class="row">
    <div class="col-4">
      <h1>Datové příběhy</h1>



    </div>
    <div class="col-4">
      <h1>Návody</h1>

    </div>
    <div class="col-4">
      <h1>Vizualizace</h1>

    </div>
  </div>

  <div class="stories mt-5">
    {% for story in site.stories %}
    <div class="story">
      <h3><a href="{{ story.url }}">{{ story.title }}</a></h3>
      <p>{{story.excerpt}}</p>
    </div>
    {% endfor %}
  </div>

</div>