<footer>
  <div class="container py-3">
    <div class="row">

      <div class="col-md-4 mb-5 mb-md-0">
        <h3 class="mb-3">Kontakt</h3>

        <h4 class="mt-3">Ministerstvo financí ČR</h4>
        <p>
          Letenská 15, Praha 1 - Malá Strana<br>
          <a href="https://www.mfcr.cz">www.mfcr.cz</a>
        </p>

        <h4 class="mt-3">Projekt otevřených dat MF</h4>
        <p>
          <a href="https://twitter.com/otevrenadatamf" class="twitter" target="_blank">@otevrenadatamf</a><br>
          <a href="mailto:otevrenadata@mfcr.cz">otevrenadata@mfcr.cz</a>
        </p>
      </div>

      <div class="col-md-4 mb-5 mb-md-0">
        <h3 class="mb-3">Informační systémy</h3>
        <p>
          <a href="/topics/ares">ARES - rejstřík ekonomických subjektů</a><br>
          <a href="/topics/dotace">ReD - Registr dotací</a><br>
          <a href="/catalog">Katalog datových sad</a><br>
          <a href="/topics/monitor">MONITOR Státní pokladny</a><br>
          <a href="/">Portál otevřených dat</a><br>
          
        </p>
      </div>

      <div class="col-md-4 mb-5 mb-md-0">
        <h3 class="mb-3">O projektu</h3>
        <p>
          <a href="{{site.data.settings.status_url}}" target="_blank">Aktuální stav služeb</a>
        </p>
      </div>

    </div>

  </div>
</footer>
