<footer>
  <div class="container py-3">
    <div class="row">

      <div class="col-5">
        <p>
          <strong>Ministerstvo financí ČR</strong><br>
          Letenská 15, Praha 1 - Malá Strana<br>
          <a href="https://www.mfcr.cz">www.mfcr.cz</a>
        </p>
      </div>
      <div class="col-2 text-center">
        
      </div>
      <div class="col-5">
        <p class="text-right">
          <strong>Projekt otevřených dat MF</strong><br>
          <a href="https://twitter.com/otevrenadatamf" class="twitter" target="_blank">@otevrenadatamf</a><br>
          <a href="mailto:otevrenadata@mfcr.cz">otevrenadata@mfcr.cz</a>
        </p>
      </div>

    </div>
  </div>
</footer>