@import "variables";

.frontpage {
  @extend .bg-light;

  min-height: 100vh;
  .hero {
    color: $white;
    background-color: $blue;
    background-image: url("/assets/images/mf.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
      font-size: calc(30px + 2.2vw);
      text-transform: uppercase;
      text-shadow: $shadow;
    }
  }

  .ribbon {
    background-color: $white;
    box-shadow: $shadow;

    a {
      color: inherit;
    }
    a:hover {
      text-decoration: none;
    }

    .stats {
      text-align: center;
      font-size: calc(16px + 0.8vw);

      .number {
        font-size: calc(20px + 2.5vw);
        vertical-align: middle;
      }

      a:hover .number {
        color: $blue;
      }
    }
  }

  .categories {
    .category {
      a {
        color: inherit;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.85);
        color: #333;

        height: 40px;
        border-radius: 20px;
        padding: 10px 20px;
      }
      a:hover {
        color: $white;
        background-color: $blue-light;
        text-decoration: none;
      }
    }
    .category:last-child {
      border-right: none;
    }
  }

  .posts {
    .post {
      background-color: $white;
      border-radius: 5px;
    }
  }

  .twitter {
    background-color: $white;
    border-radius: 5px;
  }

  .search {
    box-shadow: $shadow;
  }
}
