@import "variables.scss";

html,
body {
  height: 100%;
}

body {
  font-family: Slack-Lato, "Helvetica Neue", Helvetica, sans-serif;
}

a {
  color: $blue;
}

p {
  text-align: justify;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
  font-weight: bold;
}

.btn {
  .material-icons {
    vertical-align: middle;
  }
}

.bg-white {
  background-color: $white;
}

.md-content {
  h2,
  h3 {
    @extend .mt-5;
  }
}

.loading {
  animation: color-change 1s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes color-change {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    color: 1;
  }
}
