a.anchor-link{display:none;}

// h1 a.anchor-link,
// h2 a.anchor-link,
// h3 a.anchor-link,
// h4 a.anchor-link,
// h5 a.anchor-link,
// h6 a.anchor-link{display:none;}

// h1:hover a.anchor-link,
// h2:hover a.anchor-link,
// h3:hover a.anchor-link,
// h4:hover a.anchor-link,
// h5:hover a.anchor-link,
// h6:hover a.anchor-link{display:inline;}

table{
  border:none !important;
  @extend .table;
  @extend .table-sm;
  @extend .table-striped;
  @extend .table-hover;

  thead{
    @extend .thead-dark;
    th,td{ text-align:left;}
  }
}