.story {
  position: relative;

  height: 100%;

  iframe {
    height: 100%;
    width: 100%;
    border: none;
    // height: 100%;
    // left: 0;
    // position: absolute;
    // top: 0;
    // width: 100%;
  }

  .github {
    position: absolute;
    bottom: 10px;
    right: 30px;
    background-color: rgba(255,255,255,.7);

    a {
      color: #000;
    }
  }
}
