$blue: #0a77bd;
$lightBlue: #54a0d1;
$white: #fff;
$shadow: 0 0 8px rgba(0, 0, 0, 0.5);
$shadow-light: 0 0 5px rgba(0,0,0,.1);
$black: #000;

$grey: #ddd;
$darkGrey: #333;
$lightGrey: #f9f9f9;
