<style scoped>
  @import "https://unpkg.com/swagger-ui-dist@3/swagger-ui.css";

  #swagger-ui {
    border: 1px solid #ccc;
    padding: 30px 0;
  }

  .information-container,
  .scheme-container {
    display: none;
  }
</style>

<div id="swagger-ui"></div>

<script src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js" charset="UTF-8"></script>
<script src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-standalone-preset.js" charset="UTF-8"></script>
<script>
  window.onload = function () {
    // Begin Swagger UI call region
    const ui = SwaggerUIBundle({
      url: "{{include.url}}",
      dom_id: '#swagger-ui',
      deepLinking: true,
      presets: [
        SwaggerUIBundle.presets.apis,
        SwaggerUIStandalonePreset
      ],
      plugins: [
        SwaggerUIBundle.plugins.DownloadUrl
      ],
      layout: "BaseLayout"
    });
    // End Swagger UI call region

    window.ui = ui;
  };
</script>