<div class="categories">
  <div class="row">
    {% for category in site.categories %}
    <div class="col-md-6 col-lg-4 col-xl-3 mb-5">
      <div class="p-3 h-100 category">

        <h2>{{category.title}}</h2>
        <p>{{category.description}}</p>

        {% assign topics = site.topics | where_exp:"item","item.categories contains category.slug" %}
        {% assign topics_count = topics | size %}

        <ul>
          {% for topic in topics %}
          {% assign datasets_count = topic.datasets | size %}
          <li>
            <a href="{{topic.url}}">{{ topic.title }}</a>
          </li>
          {% endfor %}
        </ul>

      </div>
    </div>
    {% endfor %}
  </div>
</div>