<div class="dataflix py-5">
  <h1 class="mx-4 mb-5">Datové sady</h1>

  <!-- CATEGORIES -->
  <a id="dataflix-categories"></a>
  {% for category in site.categories %}
  {% assign datasets = site.datasets | where_exp:"item","item.categories contains category.slug" %}
  {% assign datasets_size = datasets | size %}

  {% if datasets_size > 0 %}
  <h2 id="dataflix-categories-{{category.slug}}" class="mt-5 mb-3 mx-4">{{category.title}} <a href="{{category.url}}">otevřít</a></h2>
  {% include frontpage/dataflix-strip.html datasets=datasets %}
  {% endif %}

  {% endfor %}


  <!-- ORGANIZATIONS -->
  <a id="dataflix-organizations"></a>
  {% for organization in site.organizations %}
  {% assign datasets = site.datasets | where_exp:"item","item.organizations contains organization.slug" %}
  {% assign datasets_size = datasets | size %}

  {% if datasets_size > 0 %}
  <h2 id="dataflix-categories-{{organization.slug}}" class="mt-5 mb-3 mx-4">{{organization.title}} <a href="{{organization.url}}">otevřít</a></h2>
  {% include frontpage/dataflix-strip.html datasets=datasets %}
  {% endif %}

  {% endfor %}

  <!-- SYSTEMS -->
  <a id="dataflix-systems"></a>
  {% for system in site.systems %}
  {% assign datasets = site.datasets | where_exp:"item","item.systems contains system.slug" %}
  {% assign datasets_size = datasets | size %}

  {% if datasets_size > 0 %}
  <h2 id="dataflix-categories-{{system.slug}}" class="mt-5 mb-3 mx-4">{{system.title_short}} - {{system.title}} <a href="{{system.url}}">otevřít</a></h2>
  {% include frontpage/dataflix-strip.html datasets=datasets %}
  {% endif %}

  {% endfor %}

</div>