<div class="container-fluid py-5 px-4 px-md-5">
  <div class="row">

    <div class="col-lg-8 col-xl-6 posts">
      {% assign posts = site.posts | slice:0,3 %}
      {% for post in posts %}
      <div class="post p-3 mb-3">
        <h2 class="mb-3">{{ post.title }}</h2>
        {{post.content}}
      </div>
      {% endfor %}
    </div>

    <div class="col-lg-4 offset-xl-3 col-xl-3">
      <div class="twitter">
        <div class="p-3 pb-4">
          <h2 class="mb-3">
            Twitter
            <span class="float-right">
              <a href="https://twitter.com/otevrenadatamf?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-lang="cs" data-show-count="false">Follow @otevrenadatamf</a>
            </span>
          </h2>
          <a class="twitter-timeline" data-chrome="nofooter noborders noheader transparent" data-lang="cs" data-height="600" href="https://twitter.com/otevrenadatamf?ref_src=twsrc%5Etfw">Tweets by otevrenadatamf</a>
        </div>
      </div>
    </div>

  </div>
</div>