<div class="container-fluid py-5 px-4 px-md-5">
  <div class="row">

    <div class="col-md-7 posts">
      {% assign posts = site.posts | slice:0,3 %}
      {% for post in posts %}
      <div class="post p-3 mb-3">
        <h2 class="mb-3">{{ post.title }}</h2>
        {{post.content}}
      </div>
      {% endfor %}
    </div>

    <div class="col-md-5">
      <div class="twitter">
        <div class="p-3 pb-4">
          <h2 class="mb-3">Twitter</h2>
          <a class="twitter-timeline" data-chrome="nofooter noborders noheader transparent" data-lang="cs" data-height="600" href="https://twitter.com/otevrenadatamf?ref_src=twsrc%5Etfw">Tweets by otevrenadatamf</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>

  </div>
</div>