<div class="ribbon">
  <div class="container stats">
    <div class="row py-3">
      <div class="col">
        <a href="/catalog">
          <div class="number" id="stats-publishers">?</div>
          organizací
        </a>
      </div>
      <div class="col">
        <a href="/catalog">
          <div class="number" id="stats-sources">?</div>
          datových souborů
        </a>
      </div>
      <div class="col">
        <a href="/catalog">
          <div class="number" id="stats-size">?</div>
          GB dat
        </a>
      </div>
    </div>
  </div>

</div>