<div class="ribbon">
  <div class="container stats">
    <div class="row py-3">
      <div class="col">
        <a href="#dataflix-organizations">
          {% assign organizations_count = site.organizations | size %}
          <div class="number">{{organizations_count}}</div>

          {% if organizations_count == 1 %}organizace
          {% elsif organizations_count >= 2 and organizations_count <= 4 %}organizace
          {% else %}organizací
          {% endif %}
        </a>
      </div>
      <div class="col">
        <a href="#dataflix-systems">
          {% assign systems_count = site.systems | size %}
          <div class="number">{{systems_count}}</div>

          {% if systems_count == 1 %}IT systém
          {% elsif systems_count >= 2 and systems_count <= 4 %}IT systémy
          {% else %}IT systémů
          {% endif %}
        </a>
      </div>
      <div class="col">
        <a href="#dataflix-categories">
          {% assign resources_count = site.resources | size %}
          <div class="number">{{resources_count}}</div>

          {% if resources_count == 1 %}zdroj sada
          {% elsif resources_count >= 2 and resources_count <= 4 %}zdroje dat
          {% else %}zdrojů dat
          {% endif %}
        </a>
      </div>
    </div>
  </div>

</div>