<div class="ribbon">
  <div class="container stats">
    <div class="row py-3">
      <div class="col">
        <a href="/catalog>
          {% assign organizations_count = site.organizations | size %}
          <div class="number">{{organizations_count}}</div>

          {% include phrases/organizations-count.html count=organizations_count %}
        </a>
      </div>
      <div class="col">
        <a href="/catalog">
          <div class="number" id="stats-sources">?</div>
          datových souborů
        </a>
      </div>
      <div class="col">
        <a href="/catalog">
          <div class="number" id="stats-size">?</div>
          GB dat
        </a>
      </div>
    </div>
  </div>

</div>