---
layout: main
title: Aplikace a vizualizace
---
{% include hero.html title=page.title %}
<div class="container apps mt-5">
  {% for app in site.apps %}
  <div class="app mb-5">
    <div class="row">
      <div class="col-md-3">
        <a href="{{app.link}}" target="_blank">
          <img src="{{app.image | default: "/assets/content/apps/placeholder.png"}}" alt="{{app.title}}">
        </a>
      </div>
      <div class="col-md-9">
        <h2><a href="{{app.link}}" target="_blank">{{app.title}}</a></h2>
        <p>{{app.content}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>