.simple-card {
  display: block;
  border-radius: 5px;
  color: $black;
  background-color: $white;
  box-shadow: $shadow-light;
  h5 {
    color: $blue;
    line-height: 35px;
    margin-right: 60px;
  }
  p {    
    opacity: 0.8;
    margin-right: 60px;
    text-align: left;
  }
}