---
layout: sidebar
sidebar_title: Zdroj dat
sidebar_nav: nav-resource.html
---

<h1>{{page.title}}</h1>

<div class="row no-gutters">

  <div class="col-md-7 col-lg-8 col-xl-9">

    <div class="px-3 py-3 px-md-5">
      <h2 id="content" class="mt-3">Popis</h2>

      {{page.content}}

      
      <h2 class="mt-5">Data</h2>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% for format in page.data %}
        {% assign format_id = format[0] %}
        <li class="nav-item">
          <a class="nav-link{% if forloop.first %} active{% endif %}" id="tab-code-csv" data-toggle="tab" href="#code-{{format_id}}" role="tab" aria-controls="code-csv" aria-selected="true">
            {{site.data.formats[format_id].title}}
          </a>
        </li>
        {% endfor %}
      </ul>


      <!-- Tab panes -->
      <div class="tab-content">

        {% for format in page.data %}
        {% assign format_id = format[0] %}
        {% assign data_url = format[1] %}
        <div class="tab-pane{% if forloop.first %} active{% endif %}" id="code-{{format_id}}" role="tabpanel" aria-labelledby="tab-code-{{format_id}}">

          {% case format_id %}

          {% when 'csv' %}
          <h4 id="preview" class="mt-5">Ukázka dat</h4>
          {% include resource-preview-csv.html url=data_url %}
          <h4 id="scripts" class="mt-5">Kód ke stažení</h4>
          {% include resource-scripts-csv.html data_url=data_url %}

          {% when 'json' %}
          <h4 id="preview" class="mt-5">Ukázka dat</h4>
          {% include resource-preview-json.html url=data_url %}
          <h4 id="scripts" class="mt-5">Kód ke stažení</h4>
          {% include resource-scripts-json.html data_url=data_url %}

          {% when 'json-meta' %}          
          {% include resource-preview-json-meta.html url=data_url %}          

          {% else %}<p class="py-3">Pro tento formát zatím neumíme ukázku dat zobrazit.</p>

          {% endcase %}

        </div>
        {% endfor %}

      </div>




      <h2 id="metadata" class="mt-5">Katalogizační záznam</h2>

      <table class="table table-hover table-sm">
        <tbody>
          <tr>
            <th>Název</th>
            <td>{{page.title}}</td>
          </tr>
          <tr>
            <th>Datum aktualizace</th>
            <td>{{page.lastModified | date:"%d. %m. %Y"}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="col-md-5 col-lg-4 col-xl-3 bg-light order-first order-md-last">
    <div class="px-5 py-3">

      <h2 class="mt-3">Licence</h2>

      {% if page.license and page.license_url %}
      <a href="{{page.license_url}}" target="_blank">{{page.license}}</a>

      {% else %}
      <p>{{page.license | default: "Licence není uvedena."}}</p>

      {% endif %}


      {% if page.data %}
      <h2 class="mt-5">Získat data</h2>

      <div class="download mt-4">

        {% for datasource in page.data %}

        {% assign format_id = datasource[0] %}
        {% assign data_url = datasource[1] %}
        {% assign format = site.data.formats[format_id] %}

        <a class="btn btn-{{format.color | default:"primary"}} mb-3" href="{{data_url}}">{{format.title}}</a></a>
        {% if forloop.last == false %}<br>{% endif %}

        {% endfor %}

      </div>
      {% endif %}

      {% if page.links %}
      <h3 class="mt-5 mb-3">Další zdroje</h3>
      <nav class="mt-3">
        {% for link in page.links %}
        <a class="nav-item nav-link" href="{{link.url}}">{{link.title}}</a>
        {% endfor %}
      </nav>
      {% endif %}
    </div>
  </div>
</div>