---
layout: main
---
{% assign story = page %}
{% include hero.html title=page.title %}

<div class="story">

  <div class="container">

    <div class="info text-muted small text-right">
      <span class="item">Aktualizováno: {{story.date | date: "%e. %-m. %Y"}}</span>

      {% if story.author and story.author_mail %}<span class="item">Autor: <a href="mailto:{{page.author_mail}}">{{story.author}}</a></span>
      {% elsif story.author %}<span class="item">Autor: {{story.author}}</span>
      {% endif %}

      {% if story.sources %}
      <span class="item">
        Zdrojový kód:
        {% for source in story.sources %}<a href="{{source.url}}">{{source.title}}</a>{% if forloop.last == false %},{% endif %}{% endfor %}
      </span>
      {% endif %}

      {% if story.topics %}
      <span class="item">
        Data:
        {% for topic_slug in story.topics %}
        {% assign topic = site.topics | where_exp:"item","item.slug == topic_slug" | first %}
        <a href="{{topic.url}}">{{topic.short_title | default: topic.title}}</a>{% unless forloop.last %},{% endunless %}{% endfor %}
      </span>
      {% endif %}
    </div>

    <div class="disclaimer bg-light p-3 mt-3">
      <p class="m-0 text-center">
        <strong>Upozornění</strong>: Tento dokument slouží jako příklad práce s otevřenými daty a nepředstavuje oficiální stanovisko Ministerstva financí.
      </p>
    </div>

    <div class="content mt-3 mb-5">
      {{ content}}

    </div>

  </div>
</div>