---
layout: main
---

{% include hero.html title=page.title %}
<div class="container">
  <div class="row h-100">

    <div class="d-none col-xl-3">
      <div class="pt-5 px-3 px-lg-5 h-100 sidebar text-right">
        <nav class="autotoc d-inline-block text-left" data-target=".content" data-top-offset="100" data-levels="h1,h2"></nav>
      </div>
    </div>

    <div class="col-md-8 col-xl-8">
      <div class="pt-5 mb-5 md-content content">

        {% if page.toc %}
        <div class="toc">
          <h2>Obsah</h2>
          {{ content | toc_only }}
        </div>
        {% endif %}

        {{ content | inject_anchors }}
      </div>
    </div>

    <div class="col-md-4 col-xl-4">
      <div class="pt-5 mb-5">

        {% assign topics_count = page.topics | size %}
        {% if topics_count > 0 %}
        <h2 class="mt-4 mb-3">Související témata</h3>
          {% for topic_slug in page.topics %}
          {% assign topics = site.topics | where_exp:"item","item.slug == topic_slug" %}
          {% for topic in topics %}
          {% include topic-card.html topic=topic %}
          {% endfor %}
          {% endfor %}
          {% endif %}

          {% assign stories_count = page.stories | size %}
          {% if stories_count > 0 %}
          <h2 class="mt-4 mb-3">Návody</h3>
            {% for story_slug in page.stories %}
            {% assign stories = site.stories | where_exp:"item","item.slug == story_slug" %}
            {% for story in stories %}
            {% include story-card.html story=story %}
            {% endfor %}
            {% endfor %}
            {% endif %}


            {% assign datasets_count = page.datasets | size %}

            {% if datasets_count > 0 %}
            <h2 class="mt-4 mb-3">Datové sady</h3>
              {% for iri in page.datasets %}
              {% include dataset-card.html iri=iri %}
              {% endfor %}
              {% endif %}


              {% assign links_count = page.links | size %}
              {% if links_count > 0 %}
              <h2 class="mt-4 mb-3">Další zdroje</h3>
                {% for link in page.links %}
                {% include link-card.html link=link %}
                {% endfor %}
                {% endif %}

      </div>
    </div>
  </div>
</div>